version: "3"

services:
  hugo:
    container_name: hugo_theme_iris
    # image: "peaceiris/hugo:v${HUGO_VERSION}"
    image: peaceiris/hugo:v${HUGO_VERSION}-mod # Hugo Modules
    # image: peaceiris/hugo:v0.75.0-mod # workaround for Codespaces
    ports:
      - 1313:1313
    volumes:
      - ${PWD}:/src/hugo-theme-iris
    stdin_open: true
    tty: true
    working_dir: /src/hugo-theme-iris/exampleSite
    entrypoint: bash
