<!-- OGP: Open Graph Protocol -->
<meta property="og:site_name" content="サイト名">
<meta property="og:title" content="ogpのタイトル. <title>と文章も文字数も同じにする。">
<meta property="og:description" content="ogpの本文。<meta name='description'>と同じにする。">
<meta property="og:type" content="website">
<meta property="og:type" content="article">
<meta property="og:url" content="サイトのURL貼る">
<meta property="og:image" content="ogpのURL貼る">
<meta property="og:site_name" content="サイト名">
<meta property="og:locale" content="en_us">
