body {
    font-family: 'Droid Serif', sans-serif;
}

ul.unstyled,ol.unstyled {
    margin-left:0;
    list-style:none;
}

.inverse {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
    color: #f3f3f3;
    line-height: 0.8em;
}

.nopadding {
    padding:0 !important;
}

.shadowwhite {
    -webkit-filter: drop-shadow( -10px -10px 35px #fff );
    filter: drop-shadow( -10px -10px 35px #fff );
}

.vmiddle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding:1em;
}

h1, h2, h3, h4 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}
h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1em; }

a {
    color: #F92672;
    text-decoration: none;
}

.uline {
    text-decoration: underline;
}

.xkcd_font {
    font-family: 'humorsans' !important;
    font-size: 2.0em;
    font-weight: normal;
}

.xkcd_font h1 {
    font-family: 'humorsans' !important;
    font-size: 2.0em;
    font-weight: normal;
}

.red    { color: #FF4943; }
.blue   { color: #41C8F0; }

.font10em { font-size: 10em; }
.fonth2 { font-size: 3em; }
.fonth3 { font-size: 2.4em; }
.fonth4 { font-size: 2em; }
.fonth5 { font-size: 1.4em; }

.pushfront {
    z-index: 2;
}

.split-50>div:first-of-type {
    width: 50%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}
.split-50>div:nth-of-type(2) {
    width: 50%;
    height:100%;
    position: absolute;
    top: 0;
    right: 0;
}

.column_t2 {

}

.bkgpos_00 {
    background-position: 0 0;
    background-size: cover;
}

/* for printing, credit: mpusz, gnab/remark #50 */

@page {
    size: 1024px 768px;
    margin: 0;
}

@media print {
    .remark-slide-scaler {
        width: 100% !important;
        height: 100% !important;
        transform: scale(1) !important;
        top: 0 !important;
        left: 0 !important;
    }
}
