/* custom style is here */
header {
    margin-bottom: 5rem;
}

img.header-icon {
    height: 50px;
    margin-top: 1rem;
}

h1 {
    font-size: 50%;
    margin: 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
