{{ define "main" }}
<main>
  <article>
    <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
    <section class="section">
      {{ partial "content" . }}
    </section>
  </article>
  <!-- Ranges through content/posts/*.md -->
  {{ range .Pages }}
    <div class="columns">
      <div class="column is-10-tablet is-offset-1-tablet is-8-desktop is-offset-2-desktop">
        <a href="{{ .Permalink }}">
          <div class="card">
            <div class="card-content">
              <h2 class="title">{{ .Title }}</h2>
              <p>{{ .Description }}</p>
              <br>
              {{ partial "badges/slide" . }}
              <p class="is-pulled-right">{{ .Date.Format "2006-01-02" }}</p>
              <br>
            </div>
          </div>
        </a>
      </div>
    </div>
  {{ end }}
</main>
{{ end }}
