{{ partial "head/head" . }}
{{ partial "head/font" . }}
  <style>
    {{ $remark := resources.Get "css/remark.css" }}
    {{ $remarkAddon := resources.Get "css/remark-addon.css" }}
    {{ $remarkStyle := slice $remark $remarkAddon | resources.Concat "remark.bundle.css" | minify }}
    {{ $remarkStyle.Content | safeCSS }}
  </style>
</head>
<body>
<textarea id="source">
{{ .RawContent }}<!-- {{ range .Data.Pages.ByWeight }}{{ if eq .Type "slide" }}{{ if eq .Params.contentType "md" }}{{ .RawContent }}{{ end }}{{ if eq .Params.contentType "sc" }}{{ .Content }}{{ end }}{{ end }}{{ end }} -->
</textarea>
{{ partial "js/remark" . }}
{{ partial "js/mathjax" . }}
{{ partial "js/mermaid" . }}
</body></html>
