{{ define "main" }}
  <section class="section">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        {{ partial "eyecatch" . }}
      </div>
    </div>
  </section>

  <section class="section">
    {{ partial "content" . }}
  </section>

  <section class="section">
    {{ template "_internal/disqus.html" . }}
  </section>

  <section class="section">
    <h2 class="title is-3">{{ i18n "random_recommended_posts" . }}</h2>
    {{ partial "random-post-list" . }}
  </section>
{{ end }}
