{{ $revealjs := resources.Get "reveal.js/dist/reveal.js" }}
{{ $revealjsHash := $revealjs | resources.Fingerprint "sha512" }}
<script src="{{ $revealjsHash.Permalink }}" integrity="{{ $revealjsHash.Data.Integrity }}"></script>

{{ $markdown := resources.Get "reveal.js/plugin/markdown/markdown.js" }}
{{ $markdownHash := $markdown | resources.Fingerprint "sha512" }}
<script src="{{ $markdownHash.Permalink }}" integrity="{{ $markdownHash.Data.Integrity }}"></script>

{{ $highlight := resources.Get "reveal.js/plugin/highlight/highlight.js" }}
{{ $highlightHash := $highlight | resources.Fingerprint "sha512" }}
<script src="{{ $highlightHash.Permalink }}" integrity="{{ $highlightHash.Data.Integrity }}"></script>

{{ $zoom := resources.Get "reveal.js/plugin/zoom/zoom.js" }}
{{ $zoomHash := $zoom | resources.Fingerprint "sha512" }}
<script src="{{ $zoomHash.Permalink }}" integrity="{{ $zoomHash.Data.Integrity }}"></script>

{{ $notes := resources.Get "reveal.js/plugin/notes/notes.js" }}
{{ $notesHash := $notes | resources.Fingerprint "sha512" }}
<script src="{{ $notesHash.Permalink }}" integrity="{{ $notesHash.Data.Integrity }}"></script>

{{ $math := resources.Get "reveal.js/plugin/math/math.js" }}
{{ $mathHash := $math | resources.Fingerprint "sha512" }}
<script src="{{ $mathHash.Permalink }}" integrity="{{ $mathHash.Data.Integrity }}"></script>

<script>
  Reveal.initialize({
    plugins: [ RevealMarkdown, RevealHighlight, RevealZoom, RevealNotes, RevealMath ]
  });
</script>
