<a id="scroll-button" class="btn-floating scale-transition scale-out hoverable grey darken-3">
  <i id="scroll-icon" class="fas fa-arrow-up fa-fw fa-lg"></i>
</a>

<script>
  function getScrolled() {
      return ( window.pageYOffset !== undefined ) ? window.pageYOffset: document.documentElement.scrollTop;
  };
  var topButton = document.getElementById( 'scroll-button' );
  window.onscroll = function() {
      ( getScrolled() > 500 ) ? topButton.classList.add( 'scale-in' ): topButton.classList.remove( 'scale-in' );
  };
  function scrollToTop() {
      var scrolled = getScrolled();
      window.scrollTo( 0, Math.floor( scrolled / 2 ) );
      if ( scrolled > 0 ) {
          window.setTimeout( scrollToTop, 30 );
      };
  };
  topButton.onclick = function() {
      scrollToTop();
  };
</script>
