<!-- <div id="page-top" class="blogicon-chevron-up"> -->
<!--   <i class="fas fa-arrow-up fa-fw" data-fa-mask="fas fa-square" style="color:Gray" data-fa-transform="shrink-3"></i> -->
<!-- </div> -->

<a id="page-top" class="btn-floating waves-effect waves-light">
  <i class="fas fa-arrow-up fa-fw"></i>
</a>


<script type="text/javascript">
  function getScrolled() {
      return ( window.pageYOffset !== undefined ) ? window.pageYOffset: document.documentElement.scrollTop;
  };
  var topButton = document.getElementById( 'page-top' );
  window.onscroll = function() {
      ( getScrolled() > 500 ) ? topButton.classList.add( 'fade-in' ): topButton.classList.remove( 'fade-in' );
  };
  function scrollToTop() {
      var scrolled = getScrolled();
      window.scrollTo( 0, Math.floor( scrolled / 2 ) );
      if ( scrolled > 0 ) {
          window.setTimeout( scrollToTop, 30 );
      };
  };
  topButton.onclick = function() {
      scrollToTop();
  };
</script>
