<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fas fa-home fa-fw"></i> Home</a></li>
<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fas fa-folder fa-fw"></i> Categories</a></li>
<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fas fa-tags fa-fw"></i> Tags</a></li>
<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fas fa-user fa-fw"></i> About Me</a></li>
<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fas fa-lock fa-fw"></i> Privacy Policy</a></li>
<li><a class="grey-text text-lighten-3 hoverable" href="{{ .Site.RSSLink }}"><i class="fas fa-rss fa-fw"></i> RSS</a></li>
