<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fas fa-external-link-alt fa-fw"></i> Blog</a></li>
<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fab fa-twitter fa-fw"></i> Twitter</a></li>
<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fab fa-facebook fa-fw"></i> Facebook</a></li>
<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fab fa-github fa-fw"></i> GitHub</a></li>
<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fab fa-gitlab fa-fw"></i> GitLab</a></li>
<li><a class="grey-text text-lighten-3 hoverable" href="#!"><i class="fas fa-envelope fa-fw"></i> Email</a></li>
