<header>
  <section class="hero is-dark is-bold">
    <div class="hero-body columns is-desktop">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-spaced">
          {{ if .IsHome }}
            {{ .Site.Title }}
          {{ else }}
            {{ .Title }}
          {{ end }}
        </h1>
        <p class="subtitle is-6">
          {{ if .IsHome }}
            {{ .Site.Params.description }}
          {{ else }}
            {{ .Description }}
          {{ end }}
        </p>
        {{ partial "breadcrumb" . }}
        <p class="has-text-grey">
          <i class="fas fa-sm fa-fw fa-upload"></i>&nbsp;{{ .PublishDate.Format "2006-01-02" }}
          <i class="fas fa-sm fa-fw fa-sync"></i>&nbsp;{{ .Lastmod.Format "2006-01-02" }}
        </p>
      </div>
    </div>
  </section>
</header>
