{{ $title := "" }}
{{ with $.Page.Title }}
  {{ $title = . }}
{{ else }}
  {{ $firstH1 := findRE "<h1.*?>(.|\n)*?</h1>" $.Content 1 }}
  {{ range first 1 $firstH1 }}
    {{ $title = . | plainify }}
  {{ end }}
{{ end }}

<header>
  <section class="hero is-dark is-bold">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="{{ "/" | relLangURL }}">
              <img src="/images/brand.svg" alt="Logo">
            </a>
            <span class="navbar-burger" data-target="hero-head-navbar-menu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="hero-head-navbar-menu" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="{{ "/posts" | relLangURL }}">
                {{ i18n "posts" }}
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body columns is-desktop">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-spaced">
          {{ if .IsHome }}
            {{ .Site.Title }}
          {{ else }}
            {{ $title }}
          {{ end }}
        </h1>
        <p class="subtitle is-6">
          {{ if .IsHome }}
            {{ .Site.Params.description }}
          {{ else }}
            {{ .Description }}
          {{ end }}
        </p>
        {{ partial "breadcrumb" . }}
        <p class="has-text-grey-light is-pulled-right">{{ i18n "lastmod" . }}: {{ .Lastmod.Format "2006-01-02" }}</p>
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot columns is-desktop">
      <div class="column is-8 is-offset-2">
        {{ partial "lang-button" . }}
        {{ partial "edit-button" . }}
        {{ partial "check-tools" . }}
      </div>
    </div>
  </section>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>
