<head>
  {{ partial "head/general" . }}

  {{ with $.Params.slide }}
  <style>
    {{ $cssMain := resources.Get "revealjs-v3.9.2/css/reveal.css" }}
    {{ $cssTheme := resources.Get "revealjs-v3.9.2/css/theme/white.css" }}
    {{ $cssMain.Content | safeCSS }}
    {{ $cssTheme.Content | safeCSS }}
  </style>
  {{ else }}
  <style>
    {{ $bulmaCSS := resources.Get "scss/bulma.scss" | toCSS | minify }}
    {{ $bulmaCSS.Content | safeCSS }}

    {{ $syntaxCSS := resources.Get "css/syntax.css" | toCSS | minify }}
    {{ $syntaxCSS.Content | safeCSS }}

    {{ $themeCSS := resources.Get "scss/style.scss" | toCSS | minify }}
    {{ $themeCSS.Content | safeCSS }}
  </style>
  {{ end }}
</head>
