{{ with $.Params.mermaid }}
  {{ $js := resources.Get "theme/js/mermaid-v8.4.6.min.js" }}
  {{ $secureJS := $js | resources.Fingerprint "sha512" }}
  <script src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
  <script>
    var config = {
      startOnLoad: true,
      flowchart: {
        useMaxWidth: true,
        htmlLabels: true,
        curve: "cardinal",
      },
      theme: "neutral",
      securityLevel: "strict",
    };

    mermaid.initialize(config);
  </script>
{{ end }}
