<div class="buttons has-addons">
  {{ if $.Site.Params.shareButtons.twitter }}
  <a
    href="//twitter.com/share?url={{ $.Permalink }}&amp;text={{ $.Title }}&nbsp;-&nbsp;{{ $.Site.Title }}"
    rel="noopener noreferrer nofollow"
    target="_blank"
    class="button"
    >Twitter</a>
  {{ end }}

  {{ if $.Site.Params.shareButtons.facebook }}
  <a
    href="//www.facebook.com/sharer/sharer.php?u={{ $.Permalink }}"
    rel="noopener noreferrer nofollow"
    target="_blank"
    class="button"
    >Facebook</a>
  {{ end }}

  {{ if $.Site.Params.shareButtons.pocket }}
  <a
    href="https://getpocket.com/edit?url={{ $.Permalink }}&amp;title={{ $.Title }}"
    rel="noopener noreferrer nofollow"
    target="_blank"
    class="button"
    >Pocket</a>
  {{ end }}

  {{ if $.Site.Params.shareButtons.feedly }}
  <a
    href="https://feedly.com/i/subscription/feed/{{ "/index.xml" | absURL }}"
    rel="noopener noreferrer nofollow"
    target="_blank"
    class="button"
    >Feedly</a>
  {{ end }}

  {{ if $.Site.Params.shareButtons.hatenaBookmark }}
  <a
    href="http://b.hatena.ne.jp/add?url={{ $.Permalink }}"
    rel="noopener noreferrer nofollow"
    target="_blank"
    class="button"
    >Hatena Bookmark</a>
  {{ end }}

  {{ if $.Site.Params.shareButtons.reddit }}
  <a
    href="//reddit.com/submit?url={{ $.Permalink }}&amp;title={{ $.Title }}"
    rel="noopener noreferrer nofollow"
    target="_blank"
    class="button"
    >Reddit</a>
  {{ end }}
</div>
