@charset "utf-8";

@import "../../mod/bulma/utilities/_all.sass";
@import "../../mod/bulma/base/_all.sass";

// ====================
// helpers
// ====================
@import "../../mod/bulma/helpers/float.sass";
@import "../../mod/bulma/helpers/color.sass";
@import "../../mod/bulma/helpers/typography.sass";
@import "../../mod/bulma/helpers/spacing.sass";

$tablet: 760px;
$dimensions: 16 24 32 48 64 96 128 180 256;

// ====================
// components
// ====================
// @import "../../mod/bulma/components/_all.sass";

$breadcrumb-item-hover-color: gold;
$breadcrumb-item-active-color: $grey-lighter;
@import "../../mod/bulma/components/breadcrumb.sass";

$card-color: $grey-lighter;
$card-header-color: skyblue;
$card-background-color: $grey-dark;
$card-footer-border-top: 1px solid $grey-darker;
@import "../../mod/bulma/components/card.sass";

$dropdown-content-background-color: $grey-dark;
$dropdown-item-color: $grey-lighter;
@import "../../mod/bulma/components/dropdown.sass";
// @import "../../mod/bulma/components/level.sass";
// @import "../../mod/bulma/components/list.sass";
// @import "../../mod/bulma/components/media.sass";
// @import "../../mod/bulma/components/menu.sass";
// @import "../../mod/bulma/components/message.sass";
// @import "../../mod/bulma/components/modal.sass";
@import "../../mod/bulma/components/navbar.sass";
// @import "../../mod/bulma/components/pagination.sass";
// @import "../../mod/bulma/components/panel.sass";
// @import "../../mod/bulma/components/tabs.sass";

// ====================
// elements
// ====================
// @import "../../mod/bulma/elements/_all.sass";
// @import "../../mod/bulma/elements/box.sass";

$button-color: $grey-lighter;
$button-background-color: $grey-dark;
$button-hover-color: skyblue;
@import "../../mod/bulma/elements/button.sass";
@import "../../mod/bulma/elements/container.sass";
@import "../../mod/bulma/elements/content.sass";
// @import "../../mod/bulma/elements/form.sass";
// @import "../../mod/bulma/elements/icon.sass";
@import "../../mod/bulma/elements/image.sass";
// @import "../../mod/bulma/elements/notification.sass";
@import "../../mod/bulma/elements/other.sass";
// @import "../../mod/bulma/elements/progress.sass";

$table-color: $grey-lighter;
$table-head-cell-color: gold;
$table-cell-border: 1px solid $grey-darker;
$table-background-color: $grey-dark;
$table-striped-row-even-background-color: $grey-dark;
$table-row-hover-background-color: sienna;
$table-striped-row-even-hover-background-color: sienna;
@import "../../mod/bulma/elements/table.sass";

@import "../../mod/bulma/elements/tag.sass";
@import "../../mod/bulma/elements/title.sass";

// ====================
// form
// ====================
// @import "../../mod/bulma/form/_all.sass";
// @import "../../mod/bulma/form/checkbox-radio.sass";
// @import "../../mod/bulma/form/file.sass";
// @import "../../mod/bulma/form/input-textarea.sass";
// @import "../../mod/bulma/form/select.sass";
// @import "../../mod/bulma/form/shared.sass";
// @import "../../mod/bulma/form/tools.sass";

// ====================
// grid
// ====================
// @import "../../mod/bulma/grid/_all.sass";
@import "../../mod/bulma/grid/columns.sass";
// @import "../../mod/bulma/grid/tiles.sass";

// ====================
// layout
// ====================
@import "../../mod/bulma/layout/_all.sass";

// ====================
// Iris theme
// ====================
html {
	overflow: auto;
}

body {
  overflow: hidden;
}

h2 {
  border-bottom: solid 2px $grey;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.5em;
  border-left: solid 4px #FF7F50;
}

section.section {
  padding: 1.5rem 1.5rem;
}

pre {
  margin: 1rem 0rem;
}

p:not([class]) {
  margin: 1rem 0rem;
  line-height: 1.8rem;
}

.buttons {
  margin: 1rem 0rem;
}

a.normal-link {
  text-decoration: none;
  color: skyblue;
}
a.normal-link:hover {
  text-decoration: underline;
  color: skyblue;
}
a {
  text-decoration: underline;
  color: skyblue;
}
a:hover {
  text-decoration: none;
  color: gold;
}
a:visited {
  color: gold;
}

strong {
  color: $grey-lighter;
}

code {
  background: $grey-dark;
  color: gold;
}

blockquote {
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  margin: 2rem 0rem;
  box-sizing: border-box;
  font-style: italic;
  background: $grey-dark;
  border-left: 0.2rem solid chocolate;

  :before {
    display: inline-block;
    position: absolute;
    top: 0.5rem;
    left: 0.3rem;
    content: "“";
    font-family: sans-serif;
    color: chocolate;
    font-size: 5rem;
    line-height: 1;
  }

  p {
    padding: 0rem;
    margin: 1rem 0rem;
    line-height: 1.7;
    color: $grey-lighter;
  }

  cite {
    display: block;
    text-align: right;
    color: $grey-lighter;
    font-size: 0.9rem;
  }
}

// ====================
// code shortcode
// ====================
.highlight {
  margin-top: 2rem;
  margin-bottom: 2rem !important;
}
.code-block {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.code-block-title {
  display: inline-block;
  color: gray;
  position: relative;
  bottom: -1rem;
  left: 0.5rem;
}
.code-block-body pre {
  overflow: auto;
  // overflow: scroll;
}
.code-block pre.chroma {
  margin-top: 0.3rem;
}
.code-block-lang {
  float: right;
  color: gray;
  position: relative;
  bottom: -1rem;
  right: 0.5rem;
}
