name: "Pull Request Labeler"

on:
  pull_request_target:

jobs:
  triage:
    runs-on: ubuntu-22.04
    timeout-minutes: 1
    permissions:
      pull-requests: write
    steps:
      # https://github.com/actions/labeler
      - uses: actions/labeler@v4.3.0
        with:
          repo-token: ${{ github.token }}
