name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG_NAME="${GITHUB_REF##refs/tags/}"
          echo "See [CHANGELOG.md](https://github.com/${GITHUB_REPOSITORY}/blob/${TAG_NAME}/CHANGELOG.md) for more details." > ./release_notes.md
          RELEASE_NAME="$(jq -r '.name' ./package.json)"
          gh release create "${TAG_NAME}" \
            --notes-file ./release_notes.md \
            --title "${RELEASE_NAME} ${TAG_NAME}"
